@model HospitalSystem.ViewModels.DoctorViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="card-title">Delete Doctors</h2>

<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
           
            <form class="forms-sample">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.DoctorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DoctorName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DoctorExpertise)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DoctorExpertise)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DegreeName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DegreeName)
                    </dd>

                </dl>
                <button type="button" class="btn btn-primary me-2" onclick="DeleteDoctors()">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "AllDoctors")
</div>